<.header>
  New Org
  <:subtitle>Use this form to manage org records in your database.</:subtitle>
</.header>

<.org_form changeset={@changeset} action={~p"/orgs"} />

<.back navigate={~p"/orgs"}>Back to orgs</.back>
