<.header>
  Org <%= @org.id %>
  <:subtitle>This is a org record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/orgs/#{@org}/edit"}>
      <.button>Edit org</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @org.title %></:item>
</.list>

<.back navigate={~p"/orgs"}>Back to orgs</.back>
