<div class="max-w-7xl px-6 mx-auto py-20">
  <div class="space-y-3">
    <h1 class="text-4xl">Hero page</h1>
    <p class="text-lg text-gray-700">We don't care about this page yet</p>
  </div>
</div>
